/* Good Measure Modern Google Search Design Mockup - Jessica Kienzle*/

* {
  margin: auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Search */

form {
  display: flex;
}

.google {
  width: 16.66%;
}

.bar {
  font-size: 32px;
  padding-left: 5em;
  /* padding-left: 180px; */
  /* width: 46em; */
  width: 41.65%;
  height: 6em;
}

.header-right {
  /* width: 46em; */
  width: 41.65%;
}

/* All Columns */

.container {
  display: flex;
}

/* Column1 */

.column1 {
  background-color: #292b2d;
  /* box-sizing: border-box; */
  width: 16.66%;
  padding: 0 2.75em;
  /* padding: 0 75px; */
}

ul {
  list-style-type: none;
  padding-top: 40px;
}

li {
  line-height: 2.5;

}

li>a {
  color: #9fa5a8;
  font-weight: bold;
  font-size: 3em;
  background-color: transparent;
  text-decoration: none;
}

li>visited  {
  color: white;
  background-color: transparent;
  text-decoration: none;
}


h6 {
  text-align: left;
  color: #797b7c;
}

span {
  color: #9fa5a8;
}
.footer>h6 {
  color: white;
}

a:link {
  color: #797b7c;
}

/* Column2 */

.column2 {
  /* box-sizing: border-box; */
  border: 32%;
  width: 41.65%;
  padding: 0 150px;

}

h1, h2, h3{
  font-size: 5em;
  font-weight: lighter;
}

h3>a {
  color: #4d93b7;
}

p {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;}

/* Column3 */

.column3{
  box-sizing: border-box;
  border: 35%;
  width: 41.65%;
  padding: 30px 20px;

}

.lion-image{
  height: 783px;
  width: 1470px;
}

/* @media only screen and (max-width: 786px){
  .search, .container {
    width: auto;
  }
} */
